{{>header}}

<div class="non-header">



    <script>

        var current_active_item = "carrot"; //TODO: When the item is clicked in the inventory, set it to the current_active_item
        const pickupable_item_ids=["carrot","key","cookie_cutter",
        "flour","sugar","butter","antlers",
        "mistletoe","lucky_star"];
        //"uncooked_cookies","cooked_cookies",
        // "key":["lock_closed",[show('lock_open')]], 
        // item id :[item id of object to click to activate, [function to call on click]]
        const item_activation_dict={ 
            "carrot":["snowman",["show('complete_carrot_nose')","show('key')"]], 
            "key":["lock_closed",["show('lock_open')"]], 
            "cookie_cutter":["cookie_dough", ["increment_cookie_cutout()"]],
            "uncooked_cookies":["pan", ["increment_cookie_in_pan()"]],
            "sugar":["dough_bowl",["increment_dough_counter()"]],
            "butter":["dough_bowl",["increment_dough_counter()"]],
            "flour":["dough_bowl",["increment_dough_counter()"]],
            "antlers":["cauldron",["increment_potion_counter()"]],
            "mistletoe":["cauldron",["increment_potion_counter()"]],
            "lucky_star":["cauldron",["increment_potion_counter()"]],
            "growth_potion":["small_tree",["hide('small_tree')","show('complete_christmas_tree')"]]
        };

        function hide(id){
            document.getElementById(id).style.visibility = "hidden";
        }

        function show(id){
            document.getElementById(id).style.visibility = "visible";
        }

        function pickup(id){
            hide(id);
            console.log(id + " is found!");
            //TODO: add the item to the inventory
        }

        

        function load_items(){

            /*for (item_id in pickupable_item_ids){
                document.getElementById(item_id).addEventListener("click", (event) => {
                    pickup(item_id);
                });
            }*/

            for (key in item_activation_dict){

                //if not in the current scene:
                item = null;
                try{
                    item = document.getElementById(item_activation_dict[key][0])
                }catch(error){}

                if(item){
                    var curr_key = key;
                    item.addEventListener("click", (event) => {
                        if (current_active_item == curr_key){
                            for (func in item_activation_dict[curr_key][1]){
                                console.log(item_activation_dict[curr_key][1][0]);
                                eval(func);
                                //TODO: update_progress();
                            }
                        }
                    });
                }
            }
            
            /*TODO: Maybe use eval() for this... SUPER unsafe, LOL

            Make the functions: 
                -increment_dough_counter()
                    :
                        -add 1 to the internal counter, once the counter reaches 3 change scene to scene2_2. 
                        -Once the increment is 1
                        -change the '0/3' dough_counter_text to reflect counter
                -increment_cookie_in_pan()
                    : 

                -increment_cookie_cutout()
                    : 

                -increment_potion_counter() 
                    : 
                        -add 1 to the internal counter, once the counter reaches 3 show complete_potion (item) and potion_liquid
                        -change the '0/3' potion_counter_text to reflect counter
            */
        }


        
    </script>
    {{{body}}}
</div>

{{>footer}}