
<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    {{>svgsettings}}
    {{!-- Order you render these in doesn't matter, only affects z axis/layering!--}}
    {{> tree}}
    {{> present}}

    </svg>
</div>