<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>  
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="first-tier">
            {{#if user}}
                <div class="username_head">Username: <span>{{user.username}}</span></div>
                <div class="progress_head">Progress: <span>{{user.progress}}</span></div>
                <div class="timer_head">Timer: <span>{{user.timer}}</span></div>
            {{else}}
                <div class="username_head">Username: <span>N/A</span></div>
                <div class="progress_head">Progress: <span>---</span></div>
                <div class="timer_head">Timer: <span>---</span></div>
            {{/if}}
            
        </div>
        <nav class="second-tier">
            <a href="page1">Page1</a>
            <a href="page2">Page2</a>
            <a href="page3">Page3</a>
            <a href="logout">Logout</a>
        </nav>
    </header>
