<div class="inventory">
    <style>
        .inventory-row {
            display: flex;
            gap: 5px;
        }
        .item {
            width: 50px;
            height: 50px;
            border: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            cursor: pointer;
            transition: transform 0.2s, box-shadow 0.2s, opacity 0.2s;
        }
        .item img {
            width: 80%;
            height: 80%;
        }
        .item.unknown {
            background-color: white;
        }
        .item.found {
            border: 2px solid black;
        }
        .item.active {
            border: 2px solid green; 
            background-color: #e6fff2;
        }
        .item.disabled {
            background-color: grey;
            opacity: 0.5; 
        }

        .item:not(.disabled):hover {
            transform: scale(1.1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            opacity: 0.9;
        }
    </style>

    <div class="inventory-row" id="inventoryRow">
        <div class="item active">
            <img src="/resources/plain_svg/carrot-svgrepo-com.svg" alt="carrot">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/key-svgrepo-com.svg" alt="key">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/potion-svgrepo-com.svg" alt="potion">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/christmas-cracker-svgrepo-com.svg" alt="cookie_cutter">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/gingerbread-man-svgrepo-com.svg" alt="cooked_gingerbread_men">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/flour-svgrepo-com.svg" alt="flour">
        </div>
        <div class="item disabled">
            <img src="/resources/plain_svg/butter-svgrepo-com.svg" alt="butter">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/sugar-cube-svgrepo-com.svg" alt="sugar">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/deer-svgrepo-com.svg" alt="antlers">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/mistletoe-christmas-svgrepo-com.svg" alt="mistletoe">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/lights-christmas-svgrepo-com.svg" alt="christmas_lights">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/star-circle-svgrepo-com.svg" alt="star">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/christmas-wreath-svgrepo-com.svg" alt="wreath">
        </div>

        <!--TODO: add wreath-->
    </div>

    <script>
        document.getElementById('inventoryRow').addEventListener('click', function (e) {
            const clickedItem = e.target.closest('.item');

            if (!clickedItem || clickedItem.classList.contains('disabled')) return;

            const currentActive = document.querySelector('.item.active');
            if (currentActive) {
                currentActive.classList.remove('active');
                currentActive.classList.add('found');
            }
            clickedItem.classList.remove('found');
            clickedItem.classList.add('active');
            current_active_item = clickedItem.children[0].alt;
        });
    </script>
</div>
