<div class="inventory">
  <style>
    .inventory-row {
      display: flex;
      gap: 5px;
    }
    .item {
      width: 50px;
      height: 50px;
      border: 2px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      cursor: pointer;
      transition: transform 0.2s, box-shadow 0.2s, opacity 0.2s;
    }
    .item img {
      width: 80%;
      height: 80%;
    }
    .item.unknown {
      background-color: white;
      opacity: 0.5;
    }
    .item.found {
      border: 2px solid black;
    }
    .item.active {
      border: 2px solid green; 
      background-color: #e6fff2;
    }
    .item.disabled {
      background-color: grey;
      opacity: 0.5; 
    }
    .item:not(.disabled):hover {
      transform: scale(1.1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      opacity: 0.9;
    }
  </style>

  <div class="inventory">
    <div class="inventory-row" id="inventoryRow">
      {{#each items}}
      <div class="item {{status}}" data-item-name="{{name}}">
        <img src="/resources/plain_svg/{{name}}-svgrepo-com.svg" alt="{{name}}">
        {{#if (eq status 'unknown')}}
        <div class="item-overlay"></div>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>

  <script>
    document.getElementById('inventoryRow').addEventListener('click', function (e) {
      const clickedItem = e.target.closest('.item');

      if (
        !clickedItem ||
        clickedItem.classList.contains('disabled') ||
        clickedItem.classList.contains('unknown')
      ) return;

      const currentActive = document.querySelector('.item.active');
      if (currentActive) {
        currentActive.classList.remove('active');
        currentActive.classList.add('found');

        const previousActiveItemName = currentActive.querySelector('img').alt;
        axios.patch('/update_item_status', {
          item_name: previousActiveItemName,
          new_status: 'found'
        }).catch(error => console.error(error));
      }

      clickedItem.classList.remove('found');
      clickedItem.classList.add('active');
      const current_active_item = clickedItem.querySelector('img').alt;

      // change item to prevent click
      axios.patch('/update_item_status', {
        item_name: current_active_item,
        new_status: 'active'
      }).catch(error => console.error(error));
    });
  </script>
</div>
