/* <link rel="stylesheet" type="text/css" href="../../resources/css/style.css"> */

/* Christmas green background, color of text is white */
.header {
  height:12vh;
  background-color: #2e5d31;
  color: white;
  padding: 10px;
  width: 100%;
  font-family: 'Mountains of Christmas';
  text-align: center;
}

.footer {
  height:5vh;
  background-color: #2e5d31;
  color: white;
  padding: 10px;
  width: 100%;
  font-family: 'Mountains of Christmas';
  text-align: center;
}

.non-header {
  height:83vh;
}

.inventory {
  display: flex;
  justify-content: center;
  position:absolute;
  margin:0;
  bottom:7%;
  left: 50%;
  transform: translate(-50%, 0%);
}


.first-tier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 5px 10px;
}

.progress_head, .username_head, .timer_head {
  flex: 1;
  text-align: center;
}

.second_tier {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
}

.second_tier a {
  color: white;
  padding: 5px 10px;
  transition: background .3s;
  font-weight: bolder;
}

.login, .register {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #cb4335, #1e8449);
  color: white;
  text-align: center;
}

label {
font-size: 1.5em; 
}


  h1 {
    margin-bottom: 20px;
    font-size: 3.5em;
    color: #ffebcd;
  }


  .form-control {
    width: 100%;
    font-size: 1.5em;
    max-width: 500px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }


  .btn {
    background: #ff6347;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
    margin-top: 10px;
  }

  .btn:hover {
    background: #dc143c;
  }


  .snowflake {
    color: #ffffff;
    font-size: 2.5em;
    opacity: 0.9;
    animation: fall 10s linear infinite;
    position: fixed;
    top: -10px;
    user-select: none;
    z-index: -1;
  }

  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }

  .register-link {
    margin-top: 15px;
    font-size: 1.5em;
    color: #ffebcd;
  }

  .register-link a {
    color: #ffebcd;
    text-decoration: underline;
  }

  .register-link a:hover {
    color: #ffffff;
  }

.glow-effect:hover {
  filter: drop-shadow(0px 0px 70px rgb(233, 255, 36));
}

body {
  background: linear-gradient(180deg, #B82E00, #047400); /* Red to green gradient */
  color: white;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}


.scoreboard-container {
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.scoreboard-title {
  font-size: 2.5em;
  color: #FFF5F5;
}

.scoreboard-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
}

.scoreboard-table th, .scoreboard-table td {
  padding: 15px;
  border: 1px solid #ddd;
}

.scoreboard-table th {
  background-color: #006400; /* Dark green */
  color: #FFF5F5;
  font-weight: bold;
}

.scoreboard-table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1); /* Light transparent row coloring */
}

.scoreboard-table td {
  color: #FFF5F5;
}