<div class="inventory">
    <style>
        .inventory {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .inventory-row {
            display: flex;
            gap: 5px;
        }

        .item {
            width: 50px;
            height: 50px;
            border: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
        }

        .item img {
            width: 80%;
            height: 80%;
        }

        .item.unknown {
            background-color: white;
        }

        .item.found {
            border: 2px solid black;
        }

        .item.active {
            border: 2px solid green; 
            background-color: #e6fff2;
        }

        .item.disabled {
            background-color: grey;
            opacity: 0.5; 
        }
    </style>

    <div class="inventory-row">
        <div class="item active">
            <img src="/resources/plain_svg/carrot-svgrepo-com.svg" alt="Carrot">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/key-svgrepo-com.svg" alt="Key">
        </div>
        <div class="item disabled">
            <img src="/resources/plain_svg/potion-svgrepo-com.svg" alt="Cookie Cutter">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/christmas-cracker-svgrepo-com.svg" alt="Uncooked Gingerbread Men">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/gingerbread-man-svgrepo-com.svg" alt="Cooked Gingerbread Men">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/flour-svgrepo-com.svg" alt="Flour">
        </div>
        <div class="item disabled">
            <img src="/resources/plain_svg/butter-svgrepo-com.svg" alt="Butter">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/sugar-cube-svgrepo-com.svg" alt="Sugar">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/deer-svgrepo-com.svg" alt="Antlers">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/mistletoe-christmas-svgrepo-com.svg" alt="Mistletoe">
        </div>
        <div class="item disabled">
            <img src="/resources/plain_svg/lights-christmas-svgrepo-com.svg" alt="Christmas Lights">
        </div>
        <div class="item found">
            <img src="/resources/plain_svg/star-circle-svgrepo-com.svg" alt="Star">
        </div>
    </div>
</div>
