<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

    {{> svgsettings}}
    {{> scene1 }}

    </svg>

    <script>
        for(let item in scene_1_visible_items){
            document.getElementById(item).style.visibility = scene_1_visible_items[item];
        }
    </script>

</div>