<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

    {{> svgsettings}}
    {{> scene3 }}

    </svg>

    <script>
        function hide(id){
            document.getElementById(id).style.visibility  = "hidden";
        }

        function show(id){
            document.getElementById(id).style.visibility  = "visible";
        }
        
    </script>

</div>