<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

    {{> svgsettings}}
    {{> scene3_2 }}

    </svg>
    <script>
        hide("lock_open");
    </script>

</div>