<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

    {{> svgsettings}}
    {{> scene2 }}
    {{> scene2_b }}

    {{#if scene_2_visible_items}}
        <script>
            var items = ({{{scene_2_visible_items}}});
            //this is kind of horrible but it works
            items.forEach((obj, i) => {
                if (obj.scene_number == '2b' && obj.object == 'scene2_b'){
                        if (obj.visible_state == 'hidden'){
                            document.getElementById("scene2_b").style.visibility = "hidden";
                            document.getElementById("scene2").style.visibility = "visible";
                        } else {
                            document.getElementById("scene2_b").style.visibility = "visible";
                            document.getElementById("scene2").style.visibility = "hidden";
                        }
                }
                if (obj.object != 'entire_scene'){
                    document.getElementById(obj.object).style.visibility = obj.visible_state;
                }
            })
        </script>
    {{/if}}

    </svg>

</div>

