<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

    {{> svgsettings}}
    {{> scene1 }}

    </svg>

    <script>
        //hide('key');
        hide('complete_wreath');
        hide('complete_christmas_lights');
        hide('complete_carrot_nose');
        hide('key');
        
        function hide(id){
            document.getElementById(id).style.visibility  = "hidden";
        }

        function show(id){
            document.getElementById(id).style.visibility  = "visible";
        }
        
    </script>

</div>